version: '3'
networks:
  mls_network:
    external: true

services:
  #rendezvous:
  #  image: client-rendezvous
  #  build:
  #    context: ./rendezvous/
  #  ports:
  #    - 62649
  #  networks:
  #    mls_network:
  #      aliases: 
  #        - rendezvous
  client:
    build: 
      context: .
    image: mls_emulated_client
    deploy:
      mode: replicated
      replicas: ${REPLICAS:-10}
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./logs:/app/logs
    networks: 
      - mls_network
  #  depends_on:
  #  - rendezvous